In [1]:
import pandas as pd

In [39]:
gun_violence_filepath = "gunviolence.pickle"
policy_filepath = "policy_metadata.csv"

gun_violence_df = pd.read_pickle(gun_violence_filepath)
policy_df = pd.read_csv(policy_filepath)

In [42]:
gun_violence_df[:5]

,index,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,...,participant_type,sources,state_house_district,state_senate_district,year,suicide,mass shooting,gang,wounded,dead
0,278,95289,2014-01-01,Michigan,Muskegon,300 block of Monroe Avenue,0,0,http://www.gunviolencearchive.org/incident/95289,http://www.mlive.com/news/muskegon/index.ssf/2...,...,0::Victim,http://www.mlive.com/news/muskegon/index.ssf/2...,92.0,34.0,2014,False,False,False,False,False
1,279,92401,2014-01-01,New Jersey,Newark,Central Avenue,0,0,http://www.gunviolencearchive.org/incident/92401,http://www.nj.com/essex/index.ssf/2014/01/newa...,...,NaN,http://www.nj.com/essex/index.ssf/2014/01/newa...,29.0,29.0,2014,False,False,False,False,False
2,280,92383,2014-01-01,New York,Queens,113th Avenue,1,0,http://www.gunviolencearchive.org/incident/92383,http://www.timesledger.com/stories/2014/2/firs...,...,0::Victim||1::Subject-Suspect,http://www.timesledger.com/stories/2014/2/firs...,33.0,14.0,2014,True,False,False,False,True
3,281,92142,2014-01-01,New York,Brooklyn,St. Johns Place,0,1,http://www.gunviolencearchive.org/incident/92142,http://www.nydailynews.com/new-york/nyc-crime/...,...,0::Victim||1::Subject-Suspect,http://www.nydailynews.com/new-york/nyc-crime/...,43.0,20.0,2014,False,False,False,True,False
4,282,95261,2014-01-01,Missouri,Springfield,Beverly Hills and Temple,0,1,http://www.gunviolencearchive.org/incident/95261,http://www.ozarksfirst.com/story/deputies-6-ye...,...,0::Victim||1::Subject-Suspect,http://www.ozarksfirst.com/story/deputies-6-ye...,131.0,30.0,2014,False,False,False,True,False

In [40]:
policy_df[:5]

,year,state,category,sub_category,policies_implemented
0,1991,Alabama,Ammunition regulations,Prohibitors,0
1,1991,Alabama,Ammunition regulations,Background checks,0
2,1991,Alabama,Assault weapons and large-capacity magazines,Assault weapons ban,0
3,1991,Alabama,Assault weapons and large-capacity magazines,Large capacity magazine ban,0
4,1991,Alabama,Background checks,Universal background checks,0

In [51]:
set(policy_df.category)

{'Ammunition regulations',
 'Assault weapons and large-capacity magazines',
 'Background checks',
 'Buyer regulations',
 'Child access prevention',
 'Dealer regulations',
 'Domestic violence',
 'Gun trafficking',
 'Immunity',
 'Possession regulations',
 'Preemption',
 'Prohibitions for high-risk gun possession',
 'Stand your ground'}

# Correlation Between Total # Incidents and Total # Policies

In [49]:
all_incidents = pd.DataFrame(gun_violence_df.groupby(['year', 'state']).size()).join(
                                policy_df[['year', 'state','policies_implemented']].groupby(
                                    ['year', 'state']).sum())

all_incidents.rename(columns={'year':'year', 'state':'state', 0:'gun_violence_incidents',
                         'lawtotal':'policies'}, inplace=True)
all_incidents.reset_index(inplace=True)
all_incidents

     year          state  gun_violence_incidents  policies_implemented
0    2014        Alabama                    1318                    10
1    2014         Alaska                     146                     3
2    2014        Arizona                     556                     8
3    2014       Arkansas                     572                    11
4    2014     California                    3732                   100
..    ...            ...                     ...                   ...
245  2018       Virginia                     293                    13
246  2018     Washington                     200                    43
247  2018  West Virginia                      80                    18
248  2018      Wisconsin                     376                    23
249  2018        Wyoming                      14                     7

[250 rows x 4 columns]

In [22]:
all_incidents.corr()

                            year  gun_violence_incidents  policies
year                    1.000000               -0.193660  0.020426
gun_violence_incidents -0.193660                1.000000  0.291116
policies                0.020426                0.291116  1.000000

# Correlation Between Total # Suicide Incidents and Total # Policies

In [24]:
suicides = pd.DataFrame(gun_violence_df[gun_violence_df.suicide].groupby(['year', 'state']).size()).join(
                                policy_df[['year', 'state','lawtotal']].set_index(['year', 'state']))

suicides.rename(columns={'year':'year', 'state':'state', 0:'gun_violence_incidents',
                         'lawtotal':'policies'}, inplace=True)
suicides.reset_index(inplace=True)
suicides.corr()

                            year  gun_violence_incidents  policies
year                    1.000000               -0.143866  0.020426
gun_violence_incidents -0.143866                1.000000  0.203041
policies                0.020426                0.203041  1.000000

# Correlation Between Total # Non-Suicide Incidents and Total # Policies

In [32]:
non_suicides = pd.DataFrame(gun_violence_df[gun_violence_df.suicide != True].groupby(['year', 'state']).size()).join(
                                policy_df[['year', 'state','lawtotal']].set_index(['year', 'state']))

non_suicides.rename(columns={'year':'year', 'state':'state', 0:'gun_violence_incidents',
                         'lawtotal':'policies'}, inplace=True)
non_suicides.reset_index(inplace=True)
non_suicides.corr()

                            year  gun_violence_incidents  policies
year                    1.000000               -0.205588  0.020426
gun_violence_incidents -0.205588                1.000000  0.313503
policies                0.020426                0.313503  1.000000